// --- FONTS ----------------------------------------------------------------------------------------------------------

$font-family-heading: 'Belleza', sans-serif;
$font-family-paragraph: 'Raleway', sans-serif;

// --- COLORS ----------------------------------------------------------------------------------------------------------

$color-white: #fff;
$color-black: #333;

$color-pop: #E94E77;
$color-pop-tempered: #D68189;

$color-soft-primary: #C6E5D9;
$color-soft-secondary: #F4EAD5;
$color-soft-counter: #C6A49A;

// --- HEADERS ---------------------------------------------------------------------------------------------------------

$header-color-background: rgba(229, 223, 212, 1);
$header-padding-top-bottom: 0;

// --- NAVIGATION ------------------------------------------------------------------------------------------------------



//.light {
//  background-color: $color-soft-secondary;
//}
$primary-color: #2d7f95;
$secondary-color: #8fc122;
$grey-color:  #e1e1e1;


$screen-sm-min: 48em;
$screen-md-min: 62em;
$screen-lg-min: 75em;

$header-img-width: 300px;