#header {

	img {
		max-width: $header-img-width;
	}

    .header-left {
    	text-align: center;
    }

    .header-center {
    	text-align: center;
    }

    .header-right {
    	text-align: center;
    }

    a {

    }

    @include mq ($screen-sm-min) {
	    .header-left {
	    	text-align: left;
	    }

	    .header-right {
	    	text-align: right;
	    }
    }
}